@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200..800&display=swap');

:root{
    --light-green: hsl(148, 38%, 91%);
    --green: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(186, 15%, 59%);
    --dark-grey: hsl(187, 24%, 22%);
}

body{
    background-color: var(--light-green);
    max-height: 100vh;
    font-family: "Karla", sans-serif;
}